<% include ../partials/head %>

	<body class="hold-transition skin-blue sidebar-mini">
		<div class="wrapper">

			<% include ../partials/header %>

				<% include ../partials/aside %>

					<div class="content-wrapper">
						<% include ../reward/index %>
					</div>

					<% include ../partials/footer %>


						<div class="control-sidebar-bg"></div>
		</div>

		<% include ../partials/tail %>

			<script>
				$(".add_reward").click(function () {
					$('#modal_reward').modal('show');
					return false;
				});


				function readURL(input) {
					if (input.files && input.files[0]) {
						var reader = new FileReader();

						reader.onload = function (e) {
							$('#blah').attr('src', e.target.result);
						}

						reader.readAsDataURL(input.files[0]);
					}
				}

				$("#thumbnail").change(function () {
					readURL(this);
				});

				var totalName = 0;
				$("#partner").click(function (e) {
					
					var input = '<div class="input-group margin-bottom" id="field-partner' + totalName + '">' +
						'<div class="row">' +
						'<div class="col-md-4">' +
						'<input name="partner[' + totalName + ']" type="text" class="form-control"' +
						'placeholder="Name"' +
						'value="" multiple=multiple>' +
						'</div>' +
						'<div class="col-md-4">' +
						'<input name="partner[' + totalName + ']" type="text" class="form-control"' +
						'placeholder="Address"' +
						'value="" multiple=multiple>' +
						'</div>' +
						'<div class="col-md-4">' +
						'<input name="partner[' + totalName + ']" type="number" class="form-control"' +
						'placeholder="Number"' +
						'value="" multiple=multiple>' +
						'</div>' +
						'</div>' +
						'<span class="input-group-btn">' +
						'<button class="btn btn-danger btn-flat remove-ignore" data-button="' + totalName + '" type="button">' +
						'<i class="fa fa-minus"></i>' +
						'</button>' +
						'</span>' +
						'</div>';

					$("#partner").before(input);
					totalName++;
					removePartner();
				});
				function removePartner() {
					$(".remove-ignore").click(function (e) {
						e.preventDefault();
						$("#field-partner" + $(this).attr('data-button')).remove();
					});
				}
			</script>