<aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
      <!-- Sidebar user panel -->
      <div class="user-panel">
        <div class="pull-left image">
          <img src="/uploads/logo.png" class="img-circle" alt="User Image">
        </div>
        <div class="pull-left info">
          <p>HCMC-STUDENT</p>
          <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
        </div>
      </div>
      <!-- sidebar menu: : style can be found in sidebar.less -->
      <ul class="sidebar-menu">
        <li class="header">MAIN NAVIGATION</li>
        <li class="active treeview">
          <a href="/list_user"> 
            <i class="fa fa-users"></i><span>Quản Lý Thành Viên</span>
          </a>
        </li>

        <li class="active treeview">
          <a href="/news"> 
            <i class="fa fa-bookmark"></i><span>Tin Tức</span>
          </a>
        </li>

        <li class="active treeview">
          <a href="/activity"> 
            <i class="fa fa-crop"></i><span>Hoạt Động</span>
          </a>
        </li>

        <li class="active treeview">
          <a href="/gift"> 
            <i class="fa fa-gift"></i><span>Quà Tặng</span>
          </a>
        </li>

        <li class="active treeview">
          <a href="/event"> 
            <i class="fa fa-star"></i><span>Sự Kiện</span>
          </a>
        </li>

        <li class="active treeview">
          <a href="/location"> 
            <i class="fa fa-location-arrow"></i><span>Địa Điểm</span>
          </a>
        </li>

        <li class="active treeview">
          <a href="/images"> 
            <i class="fa fa-image"></i><span>Hình Ảnh</span>
          </a>
        </li>

        <li class="active treeview">
          <a href="/comment"> 
            <i class="fa fa-comments"></i><span>Bình Luận</span>
          </a>
        </li>

        <li class="active treeview">
          <a href="/feedback"> 
            <i class="fa fa-star"></i><span>Phản Hồi</span>
          </a>
        </li>
      </ul>
    </section>
    <!-- /.sidebar -->
</aside>
