<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        Thay Đổi Mật Khẩu
        <small>HCMC-STUDENTS</small>
    </h1>
</section>

<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-info">
                <div class="box-header">
                    <h3 class="box-title">Thay đổi mật khẩu
                        <small>HCMC-STUDENTS</small>
                    </h3>

                    <div class="box-body pad">
                        <% if (locals.messages) { %>
                            <div class="alert alert-danger"><%= messages.msg %></div>
                            <div class="alert alert-success"><%= messages.messages %></div>
                        <% } %>
                        <form action="/change_password" method="POST">
                            <div class="form-group">
                                <label>Mật khẩu cũ</label>
                                <input type="password" name="old_password" class="form-control">
                            </div>

                            <div class="form-group">
                                <label>Mật khẩu mới</label>
                                <input type="password" name="password" class="form-control">
                            </div>

                            <div class="form-group">
                                <label>Nhập lại mật khẩu</label>
                                <input type="password" name="repeat" class="form-control">
                            </div>

                            <div class="form-group">
                                <input type="submit" class="btn btn-default" style="float: right;"/>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>       


