<section class="content-header">
    <h1>
        Hoạt động
        <small>HCMC-STUDENTS</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a href="#">Hoạt động</a></li>
    </ol>
</section>

<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">Tin Tức</h3>
                    <% if (req.session.position === 'manager') { %>
                        <a class="btn btn-primary pull-right add_topic">Thêm Chủ Đề</a>
                    <% } %>
                </div>

                <div class="box-body">
                    <table class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>Các Chủ Đề</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% activity.forEach(function (data) { %>
                                <tr>
                                    <td>
                                        <strong><a href="/activity/<%= data.id %>"><%= data.topic %></strong></a>
                                    </td>
                                </tr>
                            <% }) %>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>            
<section>

<div class="modal" id="modal_news">
    <div class="modal-dialog" style="width: 60%;height: 50%">
        <div class="modal-content" style="height: auto;min-height: 100%;">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Thêm Chủ Đề</h4>
            </div>

            <div class="modal-body" id="modalBody" style="height:auto;min-height: 100%">
                <div class="row">
                    <div class="col-xs-12">
                        <form action="activity/topic/add" method="POST">
                            <div class="form-group">
                                <label>Chủ đề</label>
                                <input type="text" name="topic" class="form-control" required>
                            </div>

                            <div class="form-group">
                                <input type="submit" class="btn btn-default" style="float: right;"/>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>