<% include ../partials/head %>

<body class="hold-transition skin-blue sidebar-mini">
	<div class="wrapper">

		<% include ../partials/header %>

		<% include ../partials/aside %>

		<div class="content-wrapper">
			<% include ../news/news_detail %>
		</div>

		<% include ../partials/footer %>


		<div class="control-sidebar-bg"></div>
	</div>
<% include ../partials/tail %>
