<% include ../partials/head %>

<body class="hold-transition skin-blue sidebar-mini">
	<div class="wrapper">

		<% include ../partials/header %>

		<% include ../partials/aside %>

		<div class="content-wrapper">
			<% include ../comment/comment %>
		</div>

		<% include ../partials/footer %>


		<div class="control-sidebar-bg"></div>
	</div>

<script>
	$('.delete').click(function (e) {
		var id = $(this).attr("data-id");
		e.preventDefault();
		var data = {
			id: id 
		}
		console.log(data);
		$.ajax({
			type: "POST",
			url: "https://hcmc-student-api.herokuapp.com/comment/delete",
			crossDomain: true,
			data: data,
			dataType: "json",
			success: function (response) {
				alert("successful")
				$("tbody > tr#" + id).remove();
			},
			error: function (err) {
				alert(err);
			}
		})
	})
</script>
<% include ../partials/tail %>
